@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.dasrado-navbar-logo{
  height: 40px;
  margin-left: 20px;
}

.dasrado-tr-br-navbar{
  background: rgba(255, 255, 255, 0.58) !important;
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.dasrado-animation-button{
  /*transition: .2s cubic-bezier(.175, .885, .32, 2.975);*/
  transition: all .2s ease;
}

.dasrado-animation-button:active{
  transform: scale(0.90);
}

.dasrado-disabled-button:hover{
  cursor: not-allowed;
}

.dasrado-hero{
  margin-top: 40px;
  border-radius: 120px;
}

.dasrado_code_image{
  height: 240px;
  margin-top: 90px;
}

.dasrado-database-server-icon{
  margin-top: 200px;
}